*.class
src/main/resources/config.properties

# Package Files #
*.jar
*.war
*.ear

# eclipse meta
.project
.settings
.classpath
.metadata
bin

# gradle
build
.gradle

#netbeans
/nbproject/private/

#config
src/main/resources/config.properties
