#ignore project config
src/main/resources/config.properties

#ignore js libs
src/main/webapp/js/lib

#ignore js optimized
src/main/webapp/js/*.min.js

# gradle
build
.gradle

# git
*.orig

# java
*.jar
*.war
*.ear
*.class

# ide meta
.project
.settings
.classpath
.metadata
bin
/nbproject/private/

#node js
npm-debug.log
node_modules

#test
test-output
