#ignore project config
src/main/resources/config.properties

# gradle
build
.gradle

# git
*.orig

# java
*.jar
*.war
*.ear
*.class

# ide meta
.project
.settings
.classpath
.metadata
bin
/nbproject/private/

#node js
npm-debug.log
node_modules
