html,
body {
   margin:0;
   padding:0;
   height:100%;
   color:#333;
   font-size:14px;
}
#splash{
	position:relative;
	width:50%;
	margin:auto;
	top:25%;
	text-align:center;
}
#main{
	min-height:100%;
   	position:relative;
}
#header{
	padding:5px 0 5px 10px;	
}
#content{
	padding-bottom:30px;
	margin:0 10px;
}
#footer{
	font-size:0.9em;
	text-align: center;
	position:absolute;
   bottom:0;
   width:100%;
   height:30px;
}
#footer a{
	color:#E77124;
	text-decoration:none;
}
#footer a:hover{
	color:#C85408;
}

form fieldset{
	border:solid 1px #C8D8E2;
	margin-bottom:1em;
}
form fieldset legend{
	color: #88A9BD;
	font-size:.8em;
}
form div{
	width:75%;
	margin:5px 0;
	padding:5px;
	border-radius:3px;
}
form div:hover{
	background-color: #C8D8E2;
}
form div:last:hover{
	background-color: #fff;
}
form label{
	display:inline-block;
	width:49%;
	vertical-align: top;
	font-weight: bold;
}
form input[type=text],
form input[type=email], 
form input[type=password], 
form input[type=radio], 
form input[type=file],
form select, 
form textarea{
	width: 49%;
}

/* gridy fix */
.gridy-table .gridy-header th{
	text-align:left;
	text-indent:6px;
}
.gridy-table .gridy-header th .gridy-arrow-none,
.gridy-table .gridy-header th .gridy-arrow-down,
.gridy-table .gridy-header th .gridy-arrow-up,
.gridy-table .gridy-header th .gridy-empty{
	display:inline-block;
	float: none;
}
.gridy-table .gridy-button a{
	display:inline-block;
	text-decoration: none;
	width:auto;
	padding:3px 6px;
}
.gridy-table .gridy-button a:hover{
	color:#E77124;
}
.gridy-table .gridy-search-content input[type="button"] {
	padding: 0;
}

/* events */
ul#events{
	list-style-type: none;
}
li.event{
	clear:both;
	border-top: solid 1px #ddd;
	margin-top:.5em;
}
li.event h2{
	font-weight:normal;
}
li.event > img {
	float:left;
	margin:0 1em 0 0;
	border: solid 1px #ddd;
}
li.event .event-ctrl{
	margin:.5em;
}
.ui-button .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit.png');
}
.ui-button .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete.png');
}
.current-flyer-field{
	position:relative;
}
.current-flyer-field #flyer-remover{
	position:absolute;
}
.current-flyer-field #flyer-viewer{
	position:absolute;
	top:24px;
}