/* common styles */

html, body {
   margin:0;
   padding:0;
   height:100%;
   color:#333;
   font-size:14px;
}
.small{
	font-size:.8em;
}
.ui-button .ui-icon.icon-add{
	background-image: url('../img/add_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-add{
	background-image: url('../img/add.png');
}
.ui-button .ui-icon.icon-expand{
	background-image: url('../img/expand_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-expand{
	background-image: url('../img/expand.png');
}
.ui-button .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit.png');
}
.ui-button .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete.png');
}
.ui-button .ui-icon.icon-delete{
	background-image: url('../img/delete_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-delete{
	background-image: url('../img/delete.png');
}
.ui-button .ui-icon.icon-image{
	background-image: url('../img/image_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-image{
	background-image: url('../img/image.png');
}
.ui-button .ui-icon.icon-import{
	background-image: url('../img/import_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-import{
	background-image: url('../img/import.png');
}
.ui-button .ui-icon.icon-reset{
	background-image: url('../img/reset_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-reset{
	background-image: url('../img/reset.png');
}

/* noty overridings */
.noty_text{
	font-weight:bold;
}

/* layout */
#splash{
	position:relative;
	width:50%;
	margin:auto;
	top:25%;
	text-align:center;
}
#main{
	min-height:100%;
   	position:relative;
}
#header{
	width:100%;
	position:relative;
}
#header > img{
	margin: 5px 10px;
}
#header #user-ctrl{
	position: absolute;
	right:10px;
	top:5px;
}
#header #user-ctrl a{
	color:#336699;
	text-decoration: none;
}
#header #user-ctrl a:hover{
	color:#88A9BD;
}
#content{
	padding-bottom:30px;
	margin:0 10px;
}
#footer{
	font-size:0.9em;
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	color:#88A9BD;
}
#footer a{
	color:#E77124;
	text-decoration:none;
}
#footer a:hover{
	color:#C85408;
}

/* forms */
form fieldset{
	border:solid 1px #C8D8E2;
	margin-bottom:1em;
}
form fieldset legend{
	color: #88A9BD;
	font-size:.8em;
}
form > div, form fieldset > div{
	width:75%;
	margin:5px 0;
	padding:5px;
	border-radius:3px;
}
form > div:hover, form fieldset > div:hover{
	background-color: #C8D8E2;
}
form > div:last:hover, form fieldset > div:last:hover{
	background-color: inherit;
}
form label, form .label{
	display:inline-block;
	width:49%;
	vertical-align: top;
	font-weight: bold;
}
form input[type=text],
form input[type=email], 
form input[type=password], 
form input[type=radio], 
form input[type=file],
form select, 
form textarea{
	width: 49%;
}
form input.small[type=text]{
	width:10%;
}
form .help{
	font-size: .7em;
	font-style: italic;
}

/* membership */
form fieldset > div#memberships:hover{
	background-color: inherit;
}
#memberships li a .ui-icon{
	float:left;
	margin-right:3px;
	vertical-align: baseline;
}
#memberships .membership-form > div{
	width:100%;
	margin:5px 0;
	padding:5px;
	border-radius:3px;
}
#memberships .membership-form > div:hover{
	background-color: #C8D8E2;
}
#memberships .membership-type label{
	width:10em;
	background-color:#eee;
}
#memberships .membership-type .ui-button-text{
	background-color:#eee;
}
#memberships .membership-type .ui-button-text:hover{
	color:#E77124;
}
#memberships .membership-type .ui-state-active .ui-button-text{
	background-color:#fff;
}
#memberships .membership-form .membership-ctrl{
	text-align: right;
	padding:0;
	margin:0;
}
#memberships .membership-form .membership-ctrl:hover{
	background-color: inherit;
}

/* sortable */
ul.sortable{
	list-style-type: none;
	margin: 0; 
	padding: 0; 
	width: 40%;
}
ul.sortable li {
	margin: 0 .2em .2em .2em; 
	padding: .3em; 
	padding-left: 1.5em; 
	font-size: 1em; 
	height: 1.3em; 
}
ul.sortable li:hover{
	cursor:pointer;
}
ul.sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}
.sortable-placeholder,
.ui-sortable-placeholder{
	border: dashed 1px #E77124;
}

/* vertical tabs */
.ui-tabs-vertical { width: 65em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 6.5em; }
.ui-tabs-vertical .ui-tabs-nav li { float:none; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .1em 0 !important;  }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; float:inherit;text-align:right;}
.ui-tabs-vertical .ui-tabs-nav li.ui-state-active { padding-bottom: 0; padding-right: .1em; border-right-width: 0 !important; right: -0.1em;}
.ui-tabs-vertical .ui-tabs-panel { padding: 0; float: right; width: 58em;}


/* gridy fix */
.gridy-table .gridy-header th{
	text-align:left;
	text-indent:6px;
}
.gridy-table .gridy-header th .gridy-arrow-none,
.gridy-table .gridy-header th .gridy-arrow-down,
.gridy-table .gridy-header th .gridy-arrow-up,
.gridy-table .gridy-header th .gridy-empty{
	display:inline-block;
	float: none;
}
.gridy-table .gridy-button a{
	display:inline-block;
	text-decoration: none;
	width:auto;
	padding:3px 6px;
}
.gridy-table .gridy-button a:hover{
	color:#E77124;
}
.gridy-table .gridy-search-content input[type="button"] {
	padding: 0;
}

.gridy-table td{
	text-indent: 0;
}

/* events */
ul#events{
	list-style-type: none;
}
li.event{
	clear:both;
	border-top: solid 1px #ddd;
	margin-top:.5em;
}
li.event h2{
	font-weight:normal;
}
li.event > img {
	float:left;
	margin:0 1em 0 0;
	border: solid 1px #ddd;
}
li.event .event-ctrl{
	margin:.5em;
}
#event-infos-editor #description{
	background-color:#FEFEFE;
	border:solid 1px #EEE;
	-moz-box-shadow: 3px 3px 2px #888;
	-webkit-box-shadow: 3px 3px 2px #888;
	box-shadow: 3px 3px 2px #888;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.current-flyer-field{
	position:relative;
}
.current-flyer-field #flyer-remover{
	position:absolute;
}
.current-flyer-field #flyer-viewer{
	position:absolute;
	top:36px;
}
.reg-import-field{
	border: #ccc dashed 1px;
}
.reg-import-field:hover{
	background-color: inherit;
}
.reg-import-field > div{
	width:100%;
	margin:5px 0;
	padding:5px;
	border-radius:3px;
}
.reg-import-field > div:hover{
	background-color: #C8D8E2;
}
#reg-import-opts-order{
	position:relative;
	left:49%;
	top:-1em;
}
#reg-import-opts-order-ctrl{
	position:relative;
	left:49%;	
	width:50%;
}
#reg-import-opts-order-ctrl-trash{
	background-image: url('../img/bin_closed.png');
	background-repeat: no-repeat;
	display:inline-block;
	width: 4em;
	height:1.9em;
	border-radius: 3px;
	margin:0;
	top:-.1em;
}
#reg-import-opts-order-ctrl-trash.accpet-drop{
	background-image: url('../img/bin_open.png');
}
#reg-import-opts-order-ctrl-trash.dropping{
	border:dashed 1px #E77124;
}
#registrants{
	width:40%;
}
.list-box, .list-box-ctrl{
	display:inline-block;
	vertical-align: top;
}
.list-box{
	width:40%;
}
.list-box-ctrl{
	width:10%;
	text-align: center;
	margin:50px auto;
}
.list-box-ctrl a{
	margin-bottom:.1em;
}
.list-box > div{
	font-weight: bold;
}
.list-box ul{
	height:175px;
	overflow-y:scroll;
	border: solid 1px #ddd;
	border-radius: 3px;
	background-color: #fff;
	padding:0;
	margin:0;
	list-style-type: none;
}
.list-box ul li{
	padding: .1em;
	margin: .1em;
	cursor:pointer;
}
.list-box ul .ui-selecting{
	border-style: dashed;
}
.list-box ul .ui-selected{
	background-color:#C8D8E2;
}