html,
body {
   margin:0;
   padding:0;
   height:100%;
   color:#333;
   font-size:14px;
}
#splash{
	position:relative;
	width:50%;
	margin:auto;
	top:25%;
	text-align:center;
}
#main{
	min-height:100%;
   	position:relative;
}
#header{
	width:100%;
	position:relative;
}
#header > img{
	margin: 5px 10px;
}
#header #user-ctrl{
	position: absolute;
	right:10px;
	top:5px;
}
#header #user-ctrl a{
	color:#336699;
	text-decoration: none;
}
#header #user-ctrl a:hover{
	color:#88A9BD;
}
#content{
	padding-bottom:30px;
	margin:0 10px;
}
#footer{
	font-size:0.9em;
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
	color:#88A9BD;
}
#footer a{
	color:#E77124;
	text-decoration:none;
}
#footer a:hover{
	color:#C85408;
}

form fieldset{
	border:solid 1px #C8D8E2;
	margin-bottom:1em;
}
form fieldset legend{
	color: #88A9BD;
	font-size:.8em;
}
form > div, form fieldset > div{
	width:75%;
	margin:5px 0;
	padding:5px;
	border-radius:3px;
}
form > div:hover, form fieldset > div:hover{
	background-color: #C8D8E2;
}
form > div:last:hover, form fieldset > div:last:hover{
	background-color: #fff;
}
form label{
	display:inline-block;
	width:49%;
	vertical-align: top;
	font-weight: bold;
}
form input[type=text],
form input[type=email], 
form input[type=password], 
form input[type=radio], 
form input[type=file],
form select, 
form textarea{
	width: 49%;
}

form .help{
	font-size: .7em;
	font-style: italic;
}

/* gridy fix */
.gridy-table .gridy-header th{
	text-align:left;
	text-indent:6px;
}
.gridy-table .gridy-header th .gridy-arrow-none,
.gridy-table .gridy-header th .gridy-arrow-down,
.gridy-table .gridy-header th .gridy-arrow-up,
.gridy-table .gridy-header th .gridy-empty{
	display:inline-block;
	float: none;
}
.gridy-table .gridy-button a{
	display:inline-block;
	text-decoration: none;
	width:auto;
	padding:3px 6px;
}
.gridy-table .gridy-button a:hover{
	color:#E77124;
}
.gridy-table .gridy-search-content input[type="button"] {
	padding: 0;
}

/* events */
ul#events{
	list-style-type: none;
}
li.event{
	clear:both;
	border-top: solid 1px #ddd;
	margin-top:.5em;
}
li.event h2{
	font-weight:normal;
}
li.event > img {
	float:left;
	margin:0 1em 0 0;
	border: solid 1px #ddd;
}
li.event .event-ctrl{
	margin:.5em;
}
.ui-button .ui-icon.icon-expand{
	background-image: url('../img/expand_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-expand{
	background-image: url('../img/expand.png');
}
.ui-button .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-edit{
	background-image: url('../img/event_edit.png');
}
.ui-button .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-evt-delete{
	background-image: url('../img/event_delete.png');
}
.ui-button .ui-icon.icon-delete{
	background-image: url('../img/delete_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-delete{
	background-image: url('../img/delete.png');
}
.ui-button .ui-icon.icon-image{
	background-image: url('../img/image_high.png');
}
.ui-button.ui-state-hover .ui-icon.icon-image{
	background-image: url('../img/image.png');
}
.current-flyer-field{
	position:relative;
}
.current-flyer-field #flyer-remover{
	position:absolute;
}
.current-flyer-field #flyer-viewer{
	position:absolute;
	top:36px;
}
#registrants{
	width:40%;
}
.list-box, .list-box-ctrl{
	display:inline-block;
	vertical-align: top;
}
.list-box{
	width:40%;
}
.list-box-ctrl{
	width:10%;
	text-align: center;
	margin:50px auto;
}
.list-box-ctrl a{
	margin-bottom:.1em;
}
.list-box > div{
	font-weight: bold;
}
.list-box ul{
	height:175px;
	overflow-y:scroll;
	border: solid 1px #ddd;
	border-radius: 3px;
	background-color: #fff;
	padding:0;
	margin:0;
	list-style-type: none;
}
.list-box ul li{
	padding: .1em;
	margin: .1em;
	cursor:pointer;
}
.list-box ul .ui-selecting{
	border-style: dashed;
}
.list-box ul .ui-selected{
	background-color:#C8D8E2;
}

/* login */
#login-box{
	width:25em;
	border: solid 1px #E77124;
	border-radius:5px;
	margin:auto;
	padding:.5em;
	color:#fff;
	font-weight:bold;
	text-align:center;
	background-color:#E77124;
	background: -moz-linear-gradient(top, #FCB689, #E77124);
}
#login-box #login{
	display: inline-block;
	border: solid 1px #999;
	border-bottom-color:#666;
	border-right-color:#666;
	border-radius:4px;
	padding:.3em .5em .3em 2em;
	margin:.1em;
	color:#444;
	font-weight:bold;
	text-decoration: none;
	background-color:#eee;
	/** css trick to support bg image and gradient: works only for moz and webkit */
	background-image: url('../img/google.png'), -moz-linear-gradient(top,  #eee,  #999);
	background-image: url('../img/google.png'), -webkit-gradient(linear, left top, left bottom, from(#eee), to(#999));
	background-repeat: no-repeat;
	background-position: .3em .3em;
}
#login-box #login:hover{
	color:#999;	
}